.title {
    font-weight: 600;
    font-size: 32px;
    color: #fff;
    text-align: center;
    margin-bottom: 24px;
    text-shadow: 1px 3px #000000a3;
}

.desc {
    margin: 0 0 24px;
    font-size: 16px;
    color: #deb8f9;
    border-bottom: 1px solid #000;
    padding-bottom: 24px;
    margin-bottom: 24px;
    text-align: center;
}